{% extends 'base.html' %}

{% block container %}

<h2>Add Question</h2>
<br>
<form id="addQuestion" action="" method="POST">
    <div class="form-group">
        <select class="custom-select" id="category" name="category" required>
            <option value="">Category</option>
            {% for category in categories %}
            <option value="{{category.id}}">{{category.id}} - {{ category.name }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="form-group">
        <label for="question" class="sr-only">Question</label>
        <input name="question" type="text" id="question" class="form-control" placeholder="Question" required
            autofocus>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            <input name="rightAnswer" type="text" id="rightAnswer" class="form-control is-valid" placeholder="Right Answer" required>
        </div>
        <div class="form-group col-md-6">
            <input name="wrongAnswer1" type="text" id="wrong_answer1" class="form-control is-invalid" placeholder="Wrong Answer" required>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            <input name="wrongAnswer2" type="text" id="wrong_answer2" class="form-control is-invalid" placeholder="Wrong Answer" required>
        </div>
        <div class="form-group col-md-6">
            <input name="wrongAnswer3" type="text" id="wrong_answer3" class="form-control is-invalid" placeholder="Wrong Answer" required>
        </div>
    </div>

    <button class="btn btn-primary btn-block" type="submit">Add Question</button>

</form>

{% endblock %}