body {
	background: url('/static/siil.png') no-repeat fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}

#footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	text-align: right;
	color: rgb(0, 0, 0);
	font-size: 20px;
}

#footer-link {
	color: rgb(0, 0, 0);
}